body{
    height: 100vh;
}

header{
    background: red;
    
    
    .wrapper{
        height: 15%;
        text-align: center;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

  
}

main{
    width: 100vw;
    height: 70%;
    background: green;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


    .game{
        background: orange;

        .timer{
            font-weight: 500;
            font-size: 5rem;
        }
    }
}

footer{
    height: 15%;
    background: yellow;
}

.ball{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;

    left: 0px;

    position: absolute;
    
}

.paddle{
    width: 100px;
    height: 20px;
    background: black;

    position: absolute;
    left: -100px;
    top: 80%;

    display: none;
}

.endgameContainer{
    display: none;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black;
    color: white;
    
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
}
